# Virtual environments
env/
venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Django
*.log
db.sqlite3

# User-uploaded media
media/

# Collected static files
staticfiles/

# IDE
.vscode/

# macOS
.DS_Store